<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352626260184-4adqoq8av9ek0p8d59iltraeescrnutg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352626260184-4adqoq8av9ek0p8d59iltraeescrnutg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352626260184-f4ia1e8nduil6p1c61jl9722dre7vonj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg37kWH0aqOQnb9Ode11Umka2XT3S-1pk</string>
	<key>GCM_SENDER_ID</key>
	<string>352626260184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sondo.aircolis</string>
	<key>PROJECT_ID</key>
	<string>aircolis-4913d</string>
	<key>STORAGE_BUCKET</key>
	<string>aircolis-4913d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352626260184:ios:f813f49e1a44df173ebfad</string>
</dict>
</plist>